<div class="page-controls">
  <div class="control-group">
    <label for="entityType">Show List:</label>
    <p-select
      class="entity-type-select"
      [checkmark]="true"
      [options]="options"
      (onChange)="updateEntityType($event)"
      [(ngModel)]="selectedEntityType"
    >
      <option value="tracks" selected>Top Tracks</option>
      <option value="artists">Top Artists</option>
    </p-select>
  </div>
  <div class="control-group week-nav-group">
    <p-button
      label="< Prev"
      [disabled]="!(canGoBackward$ | async)"
      (onClick)="navigateWeek('prev')"
    />
    @if (currentWeekString$ | async; as currentWeek) {
      <span class="week-label">Week: {{ currentWeek }}</span>
    }
    <p-button
      label="Next >"
      [disabled]="!(canGoForward$ | async)"
      (onClick)="navigateWeek('next')"
    />
  </div>
  @if (currentWeekString$ | async; as currentWeek) {
    <div class="control-group jump-to-group">
      <label for="weekJumpInput">Jump to:</label>
      <p-datepicker
        [(ngModel)]="calendarSelectedDate"
        [iconDisplay]="'input'"
        [showIcon]="true"
        dateFormat="yy-mm-dd"
        inputId="icondisplay"
        [minDate]="minDateRange$ | async"
        [maxDate]="maxDateRange$ | async"
      />

      <p-button label="Go" (onClick)="handleJumpToWeek()" />
    </div>
    <div class="control-group action-buttons">
      @if (exportCount$ | async; as exportCount) {
        <app-export-chart
          [exportCount]="exportCount"
          [currentWeekData]="currentWeekData"
          [currentWeekDate]="currentWeek"
        ></app-export-chart>
      }
      <a routerLink="/settings" class="p-button font-bold"> Settings </a>
    </div>
  }
</div>
