@use "tailwindcss";
@use "primeicons/primeicons.css";

/* Base styles */
body {
  background-color: #f9fafb;
  /* Lighter gray background */
  min-height: 100vh;
}

.desktop {
  @media (max-width: 639px) {
    display: none !important;
  }
}
.mobile {
  @media (min-width: 640px) {
    display: none !important;
  }
}
