th {
  text-transform: uppercase;
}

p-dialog-header {
  background-color: lightgray !important;
}

p-dialog-content {
  background-color: lightgray !important;
}

p-dialog-footer {
  background-color: lightgray !important;
}

.subtitle {
  font-size: 0.7rem;
  color: #4f545e;
  display: block;
  line-height: 1;
}

.title {
  font-weight: 600;
  color: #111827;
  display: block;
  line-height: 2;
  font-size: 0.9rem;
}
